// Fonts
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800');

// Bootstrap
@import '~bootstrap/dist/css/bootstrap.css';

// DataTables
@import "~datatables.net-bs4/css/dataTables.bootstrap4.css";
@import "~datatables.net-buttons-bs4/css/buttons.bootstrap4.css";

// Nucleo icons
@import 'nucleo-icons.css';

// Theme css
@import 'argon.css';


.z-1000 {
    z-index: 1000;
}

.legendary-gm-tag {
    color: red;
}

.legendary-gm-tag::first-letter {
    color: black !important;
}

.gm-tag {
    color: red;
}

.master-tag {
    color: orange;
}

.cm-tag {
    color: violet;
}

.expert-tag {
    color: blue;
}

.specialist-tag {
    color: cyan;
}

.pupil-tag {
    color: green;
}

.newbie-tag {
    color: gray;
}
